.form-group img
{
  width: 100%;
}

.selectCard
{
  background-color: rgba(165, 226, 71, 0.27);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.createCard
{
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.createCard img
{
  border-radius: 10px;
}

.createCard p
{
  color: #7c7c7c;
}

.form-row>.col, .form-row>[class*=col-]
{
  padding: 0;
  margin: 20px;
}

.form-group
{
  padding: 15px;
  margin: 0;
  height: 100%;
}

.form-row
{
  margin: 0;
}

#submitBtn
{
  margin-left: 20px;
  float: left;
}

.card
{
  width: 100%;
}

.input
{
  padding: 0px 20px;
  margin: 20px 0px !important;
}

.form-control
{
  width: calc(100% - 195px);
  float: left;
  margin-bottom: 0;
}
